<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		
		<!-- Bootstrap CSS v5.2.1 -->
  		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
		<link href="/css/mainstyles.css" type="text/css" rel="stylesheet"/>
		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
			function PopUp(content) {
				document.getElementById('notipop').textContent = content;
				document.getElementById("Popup").style.display = "block";
				//document.getElementById("overlay").style.display = "block";
			}
			function PopDown() {
				document.getElementById("Popup").style.display = "none";
				//document.getElementById("overlay").style.display = "none";
			}
    </script>
	</head>
	
    <body>
        <!--header-->
        <nav class="navbar fixed-top navbar-expand-lg bg-white">
            <div class="container-fluid">
              <!-- Logo -->
              <a class="navbar-brand">PTUDW-13</a>
              <!-- Toggle Btn-->
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      			<span class="navbar-toggler-icon"></span>
   	 			</button>
                <!-- NavBar -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown mx-2">
                      <a class="nav-link {{#if quanly}}active{{/if}} dropdown-toggle" href="" id="listquanly" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Quản lý</a>
                      <div class="dropdown-menu" aria-labelledby="listquanly">
                        <a class="dropdown-item" href="/so/qltaikhoan">Tài khoản</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/so/qlquanphuong">Quận, phường</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/so/qldiemdat">Điểm đặt quảng cáo</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/so/qlbangqc">Bảng quảng cáo</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/so/qldanhsach">Danh sách loại hình</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown mx-2">
                      <a class="nav-link {{#if pheduyet}}active{{/if}} dropdown-toggle" href="" id="listpheduyet" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Phê duyệt</a>
                      <div class="dropdown-menu" aria-labelledby="listpheduyet">
                        <a class="dropdown-item" href="/so/pheduyetcapphep">Cấp phép quảng cáo</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/so/pheduyetdiemdat">Chỉnh sửa điểm đặt</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/so/pheduyetbangqc">Chỉnh sửa bảng quảng cáo</a>
                      </div>
                    </li>
                    <li class="nav-item mx-2">
                      <a class="nav-link {{#if thongke}}active{{/if}}" aria-current="page" href="/so/thongke">Thống kê</a>
                    </li>

                  </ul>
                  <!-- Login -->
                  <div class="d-flex nav-item mx-2">
                    <a href="/so/thongtin" class="fs-4 text-decoration-none text-black"><i class="bi bi-person-circle" style="font-size: 30px;"></i></a>
                  </div>
                  <div class="d-flex nav-item mx-2">
                    <a href="/dangxuat" class="bi bi-box-arrow-right"></a>
                  </div>
                </div>
        </nav>
        <!--/header-->
		
		{{{body}}}  
		<div class="card form-popup" id="Popup">
			<div class="row">
				<div class=" m-2 "><i class="bi bi-exclamation-circle pretty-indigo rounded rounded-circle"></i></div>
			</div>
			<div class="row">
				<div class="m-2">
					<label id="notipop">Cái này là thông báo á</label> <br>
				</div>
			</div>
			<div class="row ">
				<div class="col"></div> 
				<div class="col"></div>      
				<div class="col">
					<button type="submit" class="btn btn-block indigo btn-secondary w-100" onclick="PopDown()">OK</button>
				</div>   
			</div>   
		</div>

		<footer>
	<!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
	integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
	integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
    </body>
</html>