 <!--container-->
        <div class="container">
            <div class="row">
                <div class="col-md-12 p-3">
                    <h5 class="fw-bold bi bi-folder2 fs-4 ps-5">  Gửi báo cáo về Sở VH-TT</h5>

                </div>
                <div class="col-md-12">
                    <div class="card border-0">
                        <div class="card-body">
                            <div class="col-md-4" style="padding-left: 70px;">
                              <form action="" method="GET">
                                  <label for="hinhthuc">Hình thức báo cáo</label>
                                  <!-- <br> -->
                                  <div class="input-group mb-3">
                                  <select id="hinhthuc" name="hinhthuc" class="form-select" aria-label="Default select example">
                                      <option selected>Chọn hình thức báo cáo</option>
                                      <option value="togiac">Tố giác sai phạm</option>
                                      <option value="dangky">Đăng ký nội dung</option>
                                      <option value="donggop">Đóng góp ý kiến</option>
                                      <option value="thacmac">Giải đáp thắc mắc</option>
                                  </select>
                                  </div>


                                  <label for="hoten">Họ tên người gửi báo cáo</label>
                                  <div class="input-group mb-3">
                                      <input type="text" name="hoten" value="" class="form-control" placeholder="">
                                  </div>

                                  <label for="email">Email</label>
                                  <div class="input-group mb-3">
                                      <input type="text" name="email" value="" class="form-control" placeholder="">
                                  </div>

                                  <label for="sdt">Điện thoại liên lạc</label>
                                  <div class="input-group mb-3">
                                      <input type="text" name="sdt" value="" class="form-control" placeholder="">
                                  </div>

                                  <label for="noidung">Nội dung báo cáo</label>
                                  <!-- <div class="input-group mb-3"> -->
                                    <textarea class="rounded-2 border-secondary" name="noidung" rows="6" cols="65"></textarea>
                                  <!-- </div> -->
                                  
                                  <a style="text-decoration: none; height: 30px; width: 150px; color: black;; background-color: white; border-radius: 8px; border-style: none;" href="trangchu.html">Hủy</a>
                                  <input style="height: 30px; width: 150px; color: white;; background-color: #7F56D9; border-radius: 8px; border-style: none;" type="submit" value="Gửi báo cáo">
                                  
                              </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/container-->