<!--container-->
<div class="container">
            <div class="row">
                <div class="col-md-12 p-3">
                    <!-- <div class="card mt-4"> -->
                        <!-- <div class="card-header"> -->
                            <h5 class="fw-bold bi bi-folder2 fs-4 ps-5">  Các báo cáo đã gửi về sở VH-TT</h5>
                        <!-- </div> -->
                        <!-- <div class="card-body"> -->
                            <!-- <div class="row"> -->
                                
                            <!-- </div> -->
                        <!-- </div> -->
                    <!-- </div> -->
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div>
                                <form action="" method="GET">
                                    <div class="input-group mb-3">
                                        <button type="submit" class="bi bi-search border-0 rounded-1 fs-4"></button>
                                        <input type="text" name="search" value="" class="form-control" placeholder="Search">
                                    </div>
                                </form>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center">STT</th>
                                        <th>Thời gian gửi</th>
                                        <th>Hình ảnh</th>
                                        <th>Địa điểm</th>
                                        <th class="text-center">Loại hình báo cáo</th>
                                        <th class="text-center">Trạng thái</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>dd/MM/yyyy</td>
                                        <td class="bi bi-images fs-1 text-center"></td>
                                        <td>227 Nguyễn Văn Cừ</td>
                                        <td class="text-center"><p class="rounded-5 report-category">Tố giác sai phạm</p></td>
                                        <td class="text-center"><p class="rounded-5 solved-status">Đã xử lý</p></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td>dd/MM/yyyy</td>
                                        <td class="bi bi-images fs-1 text-center"></td>
                                        <td>Đồng Khởi - Nguyễn Du</td>
                                        <td class="text-center"><p class="rounded-5 report-category">Đóng góp ý kiến</p></td>
                                        <td class="text-center"><p class="rounded-5 handling-status">Đang xử lý</p></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">3</td>
                                        <td>dd/MM/yyyy</td>
                                        <td class="bi bi-images fs-1 text-center"></td>
                                        <td>227 Nguyễn Văn Cừ</td>
                                        <td class="text-center"><p class="rounded-5 report-category">Giải đáp thắc mắc</p></td>
                                        <td class="text-center"><p class="rounded-5 solved-status">Đã xử lý</p></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">4</td>
                                        <td>dd/MM/yyyy</td>
                                        <td class="bi bi-images fs-1 text-center"></td>
                                        <td>227 Nguyễn Văn Cừ</td>
                                        <td class="text-center"><p class="rounded-5 report-category">Giải đáp thắc mắc</p></td>
                                        <td class="text-center"><p class="rounded-5 solved-status">Đã xử lý</p></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">5</td>
                                        <td>dd/MM/yyyy</td>
                                        <td class="bi bi-images fs-1 text-center"></td>
                                        <td>Đồng Khởi - Nguyễn Du</td>
                                        <td class="text-center"><p class="rounded-5 report-category">Tố giác sai phạm</p></td>
                                        <td class="text-center"><p class="rounded-5 handling-status">Đang xử lý</p></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
</div>
        <!--/container-->
