<!-- https://developers.facebook.com/apps/1363610574264678/permissions?use_case_enum=FB_LOGIN -->
<!-- https://business.facebook.com/settings/people/61555464355840?business_id=1318302099565435-->
<!-- https://console.cloud.google.com/apis/credentials/oauthclient?previousPage=%2Fapis%2Fcredentials%3Fproject%3Dptudw13-1702405812189&project=ptudw13-1702405812189-->
<!-- https://console.cloud.google.com/apis/credentials?project=ptudw13-1702405812189-->
<!-- note de chinh khi deploy-->
<!-- container -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-0 shadow">
                <div class="card-body p-4">
                    <h5 class="fw-bold bi bi-box-arrow-in-right fs-4 mb-4 text-center"> Đăng nhập</h5>

                    <form action="/dangnhap" method="POST">
                        <div class="mb-3">
                            <label for="TenTaiKhoan" class="form-label">Tên người dùng</label>
                            <input type="text" id="TenTaiKhoan" name="TenTaiKhoan" value="" class="form-control" placeholder="">
                        </div>

                        <div class="mb-3">
                            <label for="MatKhau" class="form-label">Mật khẩu</label>
                            <input type="password" id="MatKhau" name="MatKhau" value="" class="form-control" placeholder="">
                        </div>

                        <div class="d-grid gap-2 mb-3">
                            <button class="btn btn-primary" type="submit">Đăng nhập</button>
                        </div>
                        <input type="hidden" name="reqUrl" value="{{reqUrl}}" class="form-control" style="display: none;">

                        <p class="text-center mb-2">Hoặc đăng nhập bằng</p>
                        <div class="d-flex justify-content-center">
                            {{!-- <a href="/dangnhap/facebook" class="btn btn-outline-primary me-2">
                                <i class="bi bi-facebook me-2 fs-5"></i> Facebook
                            </a> --}}
                            <a href="/dangnhap/google" class="btn btn-outline-danger">
                                <i class="bi bi-google me-2 fs-5"></i> Google
                            </a>
                        </div>

                        <!-- Forgot Password button -->
                        <div class="text-center mt-3">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">Quên mật khẩu?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Forgot Password Modal -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="forgotPasswordModalLabel">Quên mật khẩu?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/quenmatkhau" method="POST">
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Địa chỉ Email</label>
                        <input type="email" id="inputEmail" name="email" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Gửi</button>
                    <div id="messageContainer"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Forgot Password Modal -->
<!-- /container -->