<!--container-->
<div class="container">
    <div class="row">
        <div class="col-md-12 p-3">
            <h5 class="fw-bold bi bi-folder2 fs-4 ps-5"> Đăng nhập </h5>

        </div>
        <div class="col-md-12">
            <div class="card border-0">
                <div class="card-body">
                    <div class="col-md-4" style="padding-left: 70px;">
                        <form action="" method="POST">

                            {{!-- <label for="hoten">Họ tên người gửi báo cáo</label>
                            <div class="input-group mb-3">
                                <input type="text" name="hoten" value="" class="form-control" placeholder="">
                            </div> --}}

                            <label for="username">Tên người dùng</label>
                            <div class="input-group mb-3">
                                <input type="text" name="username" value="" class="form-control" placeholder="">
                            </div>

                            <label for="password">Mật khẩu</label>
                            <div class="input-group mb-3">
                                <input type="password" name="password" value="" class="form-control" placeholder="">
                            </div>
                            
                            <a style="text-decoration: none; height: 30px; width: 150px; color: black;; background-color: white; border-radius: 8px; border-style: none;" href="/">Hủy</a>
                            <input style="height: 30px; width: 150px; color: white;; background-color: #7F56D9; border-radius: 8px; border-style: none;" type="submit" value="Gửi báo cáo">
                            
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--/container-->