<!--container-->
<div class="container">
    <div class="row">
		<h5 class="fw-bold bi bi-box-arrow-in-right fs-4 ps-5">   Đăng nhập</h5>
        <p class="mb-4 {{#if message}}alert-danger danger p-3{{/if}}">{{#if message}}{{message}}{{else}}Vui lòng đăng nhập để thực hiện tác vụ trong phân quyền{{/if}}</p>

        <div class="col-md-8 m-auto">
            <div class="card border-0">
                <div class="card-body m-3">
                    
                        <form action="/dangnhap" method="POST">
                            <div class="mb-3">
                                <label for="TenTaiKhoan" class="form-label">Tên người dùng</label>
                                <input type="text" id="TenTaiKhoan" name="TenTaiKhoan" value="" class="form-control" placeholder="">
                            </div>

                            <div class="mb-3">
                                <label for="MatKhau" class="form-label">Mật khẩu</label>
                                <input type="password" id="MatKhau" name="MatKhau" value="" class="form-control" placeholder="">
                            </div>

                            <div class="mb-3">
                            	<a class="btn btn-secondary" href="/">Hủy</a>
                                <button class="btn btn-primary" type="submit" tabindex="4">Đăng nhập</button>
                            </div>
                            <input type="hidden" name="reqUrl" value="{{reqUrl}}" style="height: 30px; width: 150px; color: white;; background-color: #7F56D9; border-radius: 8px; border-style: none;">
                        </form>

                        <a href="/dangnhap/facebook"><i class="bi bi-facebook fs-5"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/container-->