<!--container-->
  <!-- <form action="" method="GET"> -->
    <div class="input-group pb-1" style="padding-left: 15px; padding-right: 15px;">
      <input class="col-md-4 form-control" id="address" type="text" placeholder="Tìm kiếm theo địa chỉ" style="margin-left:auto;">
        <button class="bi bi-search border-0 rounded-1 fs-4 mx-1" onclick="geocodeAddress(document.getElementById('address').value, map)"></button>
        <button class="bi bi-arrow-clockwise border-0 rounded-1 fs-4" onclick="setMarkers(map)"></button>
    </div>
  <!-- </form> -->
        <div id="map"></div>
        <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt120eTlsyh12W98U99SiSpaSfSs4XOvE&callback=initMap&v=weekly"
          defer
        ></script>
<!--/container-->
        
<!--sidepanel1-->
<div id="sidebar1" class="sidebar sidebar1" aria-label="Main sidebar containing navigation links and some information" aria-hidden="true">
  <div class="sidebar__content">
    <div class="row">              
      <div class="col-md-12">
        <div class="card border-0 fs-1" style="background-color: #E8F8EE;">
          <div class="card-body">
            <h3 class="bi bi-geo-alt" style="font-size: 16px; font-weight: 700; color: #003220;"> Thông tin địa điểm</h3>
            <h3 style="font-size: 15px; font-weight: 700; color: #003220; padding-left: 20px;">Trường Đại học Khoa học Tự nhiên - Đại học Quốc gia Thành phố Hồ Chí Minh</h3>
            <h5 style="font-size: 15px; padding-left: 20px;">227 Nguyễn Văn Cừ, Phường 4, Quận 5, Thành phố Hồ Chí Minh</h5>
            <div>
              <button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#guiBaoCao"><i class="text-danger bi bi-exclamation-diamond rounded-3 px-2 py-1 fw-bold" style="font-size:15px;  border: 1.5px solid var(--Scarlet, #F42C04); text-decoration: none; float: inline-end;"> Báo cáo vi phạm</i></button>
            </div>
          </div>

        </div>
          <div class="card border-0 fs-1 my-2" style="background-color: #B4DBFF;">
            <div class="card-body">
              <h3 class="bi bi-info-circle" style="font-size: 16px; font-weight: 700; color: #003220; background-color: #B4DBFF;"> Thông tin bảng quảng cáo</h3>
              {{!-- foreach --}}
              <div class="card border-0 fs-1" style="background-color: white;">
                <div class="card-body">
                  <div>
                    <h3 style="font-size: 18px; font-weight: 700; color: black;">Trụ, cụm pano</h3>
                    <h3 style="font-size: 15px; font-weight: 600; color: black;">227 Nguyễn Văn Cừ (Trường Đại học Khoa học Tự nhiên), Phường 4, Quận 5, Thành phố Hồ Chí Minh</h3>
                    <p style="font-size: 15px;">Kích thước: 2.5mx10m </br> Số lượng: 1 trụ/bảng </br> Hình thức: Cổ động chính trị </br> Phân loại: Đất công/Công viên/Hành lang an toàn giao thông</p>
                    
                    <div class="btn-group" role="group"></div>
                      <button type="button" class="bi bi-info-circle border-0 rounded-0" data-dismiss="modal" aria-label="Close" style="float: inline-start; font-size: 20px; background-color: white;" onclick="toggleSidePanel2()"></button>
                      <button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#guiBaoCao"><i class="text-danger bi bi-exclamation-diamond rounded-3 px-2 py-1 fw-bold" style="font-size:15px;  border: 1.5px solid var(--Scarlet, #F42C04); text-decoration: none; float: inline-end;"> Báo cáo vi phạm</i></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card border-0 fs-1 my-2" style="background-color: white;">
                <div class="card-body">
                <div>
                  <h3 style="font-size: 18px; font-weight: 700; color: black;">Trụ, cụm pano</h3>
                  <h3 style="font-size: 15px; font-weight: 600; color: black;">227 Nguyễn Văn Cừ (Trường Đại học Khoa học Tự nhiên), Phường 4, Quận 5, Thành phố Hồ Chí Minh</h3>
                  <p style="font-size: 15px;">Kích thước: 2.5mx10m </br> Số lượng: 1 trụ/bảng </br> Hình thức: Cổ động chính trị </br> Phân loại: Đất công/Công viên/Hành lang an toàn giao thông</p>

                  <div class="btn-group" role="group">
                    <button type="button" class="bi bi-info-circle border-0 rounded-0" data-dismiss="modal" aria-label="Close" style="float: inline-start; font-size: 20px; background-color: white;" onclick="toggleSidePanel2()"></button>
                    <button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#guiBaoCao"><i class="text-danger bi bi-exclamation-diamond rounded-3 px-2 py-1 fw-bold" style="font-size:15px;  border: 1.5px solid var(--Scarlet, #F42C04); text-decoration: none; float: inline-end;"> Báo cáo vi phạm</i></button>
                  </div>
                  
                </div>
                </div>
              </div>
              <div class="card border-0 fs-1 my-2" style="background-color: white;">
                <div class="card-body">
                <div>
                  <h3 style="font-size: 18px; font-weight: 700; color: black;">Trụ, cụm pano</h3>
                  <h3 style="font-size: 15px; font-weight: 600; color: black;">227 Nguyễn Văn Cừ (Trường Đại học Khoa học Tự nhiên), Phường 4, Quận 5, Thành phố Hồ Chí Minh</h3>
                  <p style="font-size: 15px;">Kích thước: 2.5mx10m </br> Số lượng: 1 trụ/bảng </br> Hình thức: Cổ động chính trị </br> Phân loại: Đất công/Công viên/Hành lang an toàn giao thông</p>
                
                  <div class="btn-group" role="group">
                    <button type="button" class="bi bi-info-circle border-0 rounded-0" data-dismiss="modal" aria-label="Close" style="float: inline-start; font-size: 20px; background-color: white;" onclick="toggleSidePanel2()"></button>
                    <button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#guiBaoCao"><i class="text-danger bi bi-exclamation-diamond rounded-3 px-2 py-1 fw-bold" style="font-size:15px;  border: 1.5px solid var(--Scarlet, #F42C04); text-decoration: none; float: inline-end;"> Báo cáo vi phạm</i></button>
                  </div>
                  
                </div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="pt-3">
        <button type="button" class="close border-0 rounded-0" data-dismiss="modal" aria-label="Close" style="float: inline-end;" onclick="toggleSidePanel1()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>
        
<!--sidepanel2-->
<div id="sidebar2" class="sidebar sidebar2" aria-label="Main sidebar containing navigation links and some information" aria-hidden="true">
  <div class="sidebar__content">
    <div class="row">
      <img src="ph_dan/images/227nvc.jpg" class="pb-1" alt="227 Nguyễn Văn Cừ">
      <div class="col-md-12">
        <div class="card border-0 fs-1" style="background-color: #E8F8EE;">
          <div class="card-body">
              <!-- <p> -->
                <h3 style="font-size: 18px; font-weight: 700;">Trụ, cụm pano</h3>
                <h5 style="font-size: 15px;">227 Nguyễn Văn Cừ (Trường Đại học Khoa học Tự nhiên), Phường 4, Quận 5</h5>
              <!-- </p> -->
          </div>
        </div>
      </div>
      <div class="col-md-12 ps-4 pe-4 pt-2">
        <div class="card border-0 " style="background-color: #B4DBFF;">
          <div class="card-body equal-row fs-1">
            <div class="equal-column">
              <h3 style="font-weight: 700; font-size: 13px; font-style: italic; line-height: 20px; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">Ngày hết hạn hợp đồng quảng cáo:</h3>
              <p style="font-size: 13px; padding-left: 20px; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">Kích thước:</p>
              <p style="font-size: 13px; padding-left: 20px; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">Số lượng:</p>
              <p style="font-size: 13px; padding-left: 20px; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">Hình thức:</p>
              <p style="font-size: 13px; padding-left: 20px; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">Phân loại:</p>
            </div>
            <div class="equal-column">
              <h3 style="font-size: 15px; font-style: italic; font-weight: 400; line-height: 20px;">dd/MM/yyyy</h3>
              <p style="font-size: 13px;">2.5mx10m</p>
              <p style="font-size: 13px;">1 trụ/bảng</p>
              <p style="font-size: 13px;">Cổ động chính trị</p>
              <p style="font-size: 13px;">Đất công/Công viên/Hành lang an toàn giao thông</p>
            </div>
          </div>
        </div>
      <div class="pt-3">
        <button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#guiBaoCao"><i class="text-danger bi bi-exclamation-diamond rounded-3 px-2 py-1 fw-bold" style="font-size:15px;  border: 1.5px solid var(--Scarlet, #F42C04); text-decoration: none; float: inline-end;"> Báo cáo vi phạm</i></button>
        <button type="button" class="close border-0 rounded-0" data-dismiss="modal" aria-label="Close" style="float: inline-end;" onclick="toggleSidePanel2()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
  </div>
</div>

  <!--Modal gui bao cao-->
<div class="modal fade" id="guiBaoCao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
    <form action="/guiBaoCao" method="POST" onsubmit="return validateRecaptcha()">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Gửi báo cáo về Sở VH-TT</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <p class="fw-bold m-0">Thông tin báo cáo</p>

              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div>
                      <label for="hinhthuc" class="form-label">Hình thức báo cáo</label>
                      <select id="hinhthuc" name="hinhthuc" class="form-select" aria-label="Default select example">
                        <option selected>Chọn hình thức báo cáo</option>
                        <option value="togiac">Tố giác sai phạm</option>
                        <option value="dangky">Đăng ký nội dung</option>
                        <option value="donggop">Đóng góp ý kiến</option>
                        <option value="thacmac">Giải đáp thắc mắc</option>
                      </select>
                    </div>
                  </div>

                  <div class="row">
                    <div>
                      <label for="hoten" class="form-label">Họ tên người gửi báo cáo</label>
                      <input type="text" class="form-control" id="hoten" name="hoten" placeholder="Họ tên">
                    </div>
                  </div>

                  <div class="row">
                    <div>
                      <label for="email" class="form-label">Email</label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                  </div>

                  <div class="row">
                    <div>
                      <label for="sdt" class="form-label">Điện thoại liên lạc</label>
                      <input type="text" class="form-control" id="sdt" name="sdt" placeholder="">
                    </div>
                  </div>

                  <div class="row">
                    <div>
                      <label for="noidung">Nội dung báo cáo</label>
                      <textarea id="editor" class="rounded-2 border-secondary" name="noidung"></textarea>
                    </div>
                  </div>

                  <div class="row">
                    <div>
                      <div class="mb-3">
                          <div class="g-recaptcha" data-sitekey="6Le4ZC8pAAAAABPs7kETfO2SWfFyf7PnXsl7TyiH"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer mt-2">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
          <button type="submit" class="btn btn-primary">Gửi yêu cầu</button>
        </div>
      </div>
    </form>
	</div>
</div>

<!--/sidepanel2-->
<script>
  function toggleSidePanel1(){
    const sidebarElement = "sidebar1" ? document.getElementById("sidebar1") : undefined;
    if (sidebarElement) {
        let sidebarState = sidebarElement.getAttribute('aria-hidden');
        sidebarElement.setAttribute('aria-hidden', sidebarState == 'true' ? false : true); 
    }
  }
  function toggleSidePanel2(){
    const sidebarElement = "sidebar2" ? document.getElementById("sidebar2") : undefined;
    if (sidebarElement) {
        let sidebarState = sidebarElement.getAttribute('aria-hidden');
        sidebarElement.setAttribute('aria-hidden', sidebarState == 'true' ? false : true); 
    }
  }
</script>

        <!--/container-->
{{!-- tinymce --}}
<script src="https://cdn.tiny.cloud/1/vqxvddp1yo9we3090oejpm5byq3f9taeds999743y9ra4yk6/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
{{!-- <script src="https://cdn.tiny.cloud/1/vqxvddp1yo9we3090oejpm5byq3f9taeds999743y9ra4yk6/tinymce/6/plugin.min.js" referrerpolicy="origin"></script> --}}
<script>
    //let ndbaocao = document.getElementById('tinymce');
    tinymce.init({
        selector:'#editor',
        menubar: false,
        statusbar: false,
        //plugins: 'autoresize anchor autolink charmap code codesample directionality fullpage help hr image imagetools insertdatetime link lists media nonbreaking pagebreak preview print searchreplace table template textpattern toc visualblocks visualchars',
        plugins: [ "image", "code", "table", "link", "media", "codesample", "paste"],
        paste_block_drop: false,
        toolbar: 'h5 bold italic underline blockquote bullist numlist backcolor link image removeformat edit',
        skin: 'bootstrap',
        //toolbar_drawer: 'floating',
        //min_width: 5000,
        min_height: 200,           
        autoresize_bottom_margin: 16,
        add_form_submit_trigger : true,
        setup: (editor) => {
            editor.on('init', () => {
                editor.getContainer().style.transition="border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out"
            });
            editor.on('focus', () => {
                editor.getContainer().style.boxShadow="0 0 0 .2rem rgba(0, 123, 255, .25)",
                editor.getContainer().style.borderColor="#80bdff"
            });
            editor.on('blur', () => {
                editor.getContainer().style.boxShadow="",
                editor.getContainer().style.borderColor=""
            });
        }
    });

</script>