<!-- container -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-0 shadow">
                <div class="card-body p-4">
                    <h5 class="fw-bold bi bi-box-arrow-in-right fs-4 mb-4 text-center"> Đặt lại mật khẩu</h5>
                    
                    <p class="text-success text-center mb-3">Bạn đã đăng nhập. Bạn có thể thay đổi mật khẩu ngay bây giờ hoặc không.</p>

                    <form action="/resetmatkhau" method="POST" onsubmit="return QuenMk()">
                        <input type="hidden" name="id" id="ID" value="{{id}}" class="form-control" style="display: none;">

                        <div class="mb-3">
                            <label for="NewPassword" class="form-label">Mật khẩu mới</label>
                            <input type="password" id="NewPassword" name="NewPassword" class="form-control" required>
                        </div>

                        {{!-- <div class="mb-3">
                            <label for="ConfirmPassword" class="form-label">Xác nhận mật khẩu mới</label>
                            <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" required">
                        </div> --}}
                        <div class="row">
                            <div class="col d-grid gap-2 mb-3">
                                <button class="btn btn-primary" type="submit" onsubmit="return QuenMk()">Đặt lại mật khẩu</button>
                            </div>
                            <div class="col text-center d-grid gap-2 mb-3">
                                <a href="/" class="btn btn-primary">Quay lại trang chủ</a>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- /container -->
<script>
function QuenMk(){
    const id = document.getElementById('ID').value;
    const NewPassword = document.getElementById('NewPassword').value;
    if (NewPassword.trim() == "" || NewPassword == null){
        PopUp('Mật khẩu mới không hợp lệ');
    }else {
        fetch('/resetmatkhau', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({id: id, NewPassword: NewPassword}),
        })
        .then(response => response.json())
        .then(data => {
                PopUp(data);
        })
        .catch(error => console.error('Error:', error));
    }
    return false;
}

</script>