
  <main>
	<div class="container-fluid pt-5">
		<!--title-->
		<div class="row mb-3">
			<div class="page-title">
				Xử lý cấp phép quảng cáo cho công ty
			</div>
		</div>

		<!--button bar-->
		<div class="row">
			<div class="btn-toolbar mb-3 justify-content-end" role="toolbar" aria-label="Toolbar">
				<div class="me-3">
					<button type="button" class="btn btn-white border">View all</button>
				</div>
				<div class="input-group">
					<button type="button" class="btn border border-end-0"><i class="bi bi-search"></i></button>
					<input type="text" class="form-control border-start-0" placeholder="Tìm kiếm" aria-label="Username" aria-describedby="basic-addon1">
				  </div>
			</div>
		</div>

		<!--table-->
		<div class="row mx-1">
			<table class="table align-middle table-striped table-bordered">
				<colgroup>
					<col style="width:5%">
					<col style="width:30%">
					<col style="width:30%">
					<col style="width:10%">
					<col style="width:10%">
					<col style="width:10%">
					<col style="width:5%">
				</colgroup>
				<thead>
				  <tr>
					<th scope="col">STT</th>
					<th scope="col">Địa điểm</th>
					<th scope="col">Thông tin công ty</th>
					<th scope="col">Ngày bắt đầu</th>
					<th scope="col">Ngày kết thúc</th>
					<th scope="col">Tình trạng</th>
					<th scope="col"></th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<th scope="row">1</th>
					<td>
						<p class="fw-bold m-0 p-0">Địa chỉ: <small class="text-muted">227 Nguyễn Văn Cừ, phường 4</small></p> 
						<p class="fw-bold m-0 p-0">Bảng quảng cáo: <small class="text-muted">Trụ/cụm pano 1m2x2m</small></p> 
					</td>
					<td>
						<i class="bi bi-building-fill"></i>   Lorem ipsum dolor sit.
						<br>
						<i class="bi bi-envelope-fill"></i>   Lorem, ipsum dolor.
						<br>
						<i class="bi bi-telephone-fill"></i>   Lorem, ipsum.
					</td>
					<td>dd/mm/yyyy</td>
					<td>dd/mm/yyyy</td>
					<td><span class="badge text-bg-secondary">Chờ duyệt</span></td>
					<td>
						<div class="btn-group" role="group">
							<button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#chitietcapphep"><i class="bi bi-info-circle-fill"></i></button>
							<button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#huycapphep"><i class="bi bi-trash3-fill"></i></button>
						  </div>
					</td>
				  </tr>
				  <tr>
					<th scope="row">2</th>
					<td>
						<p class="fw-bold m-0 p-0">Địa chỉ: <small class="text-muted">227 Nguyễn Văn Cừ, phường 4</small></p> 
						<p class="fw-bold m-0 p-0">Bảng quảng cáo: <small class="text-muted">Trụ/cụm pano 1m2x2m</small></p> 
					</td>
					<td>
						<i class="bi bi-building-fill"></i>   Lorem ipsum dolor sit.
						<br>
						<i class="bi bi-envelope-fill"></i>   Lorem, ipsum dolor.
						<br>
						<i class="bi bi-telephone-fill"></i>   Lorem, ipsum.
					</td>
					<td>dd/mm/yyyy</td>
					<td>dd/mm/yyyy</td>
					<td><span class="badge text-bg-secondary">Chờ duyệt</span></td>
					<td>
						<div class="btn-group" role="group">
							<button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#chitietcapphep"><i class="bi bi-info-circle-fill"></i></button>
							<button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#huycapphep"><i class="bi bi-trash3-fill"></i></button>
						  </div>
					</td>
				  </tr>
				  <tr>
					<th scope="row">3</th>
					<td>
						<p class="fw-bold m-0 p-0">Địa chỉ: <small class="text-muted">227 Nguyễn Văn Cừ, phường 4</small></p> 
						<p class="fw-bold m-0 p-0">Bảng quảng cáo: <small class="text-muted">Trụ/cụm pano 1m2x2m</small></p> 
					</td>
					<td>
						<i class="bi bi-building-fill"></i>   Lorem ipsum dolor sit.
						<br>
						<i class="bi bi-envelope-fill"></i>   Lorem, ipsum dolor.
						<br>
						<i class="bi bi-telephone-fill"></i>   Lorem, ipsum.
					</td>
					<td>dd/mm/yyyy</td>
					<td>dd/mm/yyyy</td>
					<td><span class="badge text-bg-secondary">Chờ duyệt</span></td>
					<td>
						<div class="btn-group" role="group">
							<button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#chitietcapphep"><i class="bi bi-info-circle-fill"></i></button>
							<button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#huycapphep"><i class="bi bi-trash3-fill"></i></button>
						  </div>
					</td>
				  </tr>
				  <tr>
					<th scope="row">4</th>
					<td>
						<p class="fw-bold m-0 p-0">Địa chỉ: <small class="text-muted">227 Nguyễn Văn Cừ, phường 4</small></p> 
						<p class="fw-bold m-0 p-0">Bảng quảng cáo: <small class="text-muted">Trụ/cụm pano 1m2x2m</small></p> 
					</td>
					<td>
						<i class="bi bi-building-fill"></i>   Lorem ipsum dolor sit.
						<br>
						<i class="bi bi-envelope-fill"></i>   Lorem, ipsum dolor.
						<br>
						<i class="bi bi-telephone-fill"></i>   Lorem, ipsum.
					</td>
					<td>dd/mm/yyyy</td>
					<td>dd/mm/yyyy</td>
					<td><span class="badge text-bg-secondary">Chờ duyệt</span></td>
					<td>
						<div class="btn-group" role="group">
							<button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#chitietcapphep"><i class="bi bi-info-circle-fill"></i></button>
							<button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#huycapphep"><i class="bi bi-trash3-fill"></i></button>
						  </div>
					</td>
				  </tr>
				  <tr>
					<th scope="row">5</th>
					<td>
						<p class="fw-bold m-0 p-0">Địa chỉ: <small class="text-muted">227 Nguyễn Văn Cừ, phường 4</small></p> 
						<p class="fw-bold m-0 p-0">Bảng quảng cáo: <small class="text-muted">Trụ/cụm pano 1m2x2m</small></p> 
					</td>
					<td>
						<i class="bi bi-building-fill"></i>   Lorem ipsum dolor sit.
						<br>
						<i class="bi bi-envelope-fill"></i>   Lorem, ipsum dolor.
						<br>
						<i class="bi bi-telephone-fill"></i>   Lorem, ipsum.
					</td>
					<td>dd/mm/yyyy</td>
					<td>dd/mm/yyyy</td>
					<td><span class="badge text-bg-secondary">Chờ duyệt</span></td>
					<td>
						<div class="btn-group" role="group">
							<button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#chitietcapphep"><i class="bi bi-info-circle-fill"></i></button>
							<button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#huycapphep"><i class="bi bi-trash3-fill"></i></button>
						  </div>
					</td>
				  </tr>
				  <tr>
					<th scope="row">6</th>
					<td>
						<p class="fw-bold m-0 p-0">Địa chỉ: <small class="text-muted">227 Nguyễn Văn Cừ, phường 4</small></p> 
						<p class="fw-bold m-0 p-0">Bảng quảng cáo: <small class="text-muted">Trụ/cụm pano 1m2x2m</small></p> 
					</td>
					<td>
						<i class="bi bi-building-fill"></i>   Lorem ipsum dolor sit.
						<br>
						<i class="bi bi-envelope-fill"></i>   Lorem, ipsum dolor.
						<br>
						<i class="bi bi-telephone-fill"></i>   Lorem, ipsum.
					</td>
					<td>dd/mm/yyyy</td>
					<td>dd/mm/yyyy</td>
					<td><span class="badge text-bg-secondary">Chờ duyệt</span></td>
					<td>
						<div class="btn-group" role="group">
							<button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#chitietcapphep"><i class="bi bi-info-circle-fill"></i></button>
							<button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#huycapphep"><i class="bi bi-trash3-fill"></i></button>
						  </div>
					</td>
				  </tr>
				  <tr>
					<th scope="row">7</th>
					<td>
						<p class="fw-bold m-0 p-0">Địa chỉ: <small class="text-muted">227 Nguyễn Văn Cừ, phường 4</small></p> 
						<p class="fw-bold m-0 p-0">Bảng quảng cáo: <small class="text-muted">Trụ/cụm pano 1m2x2m</small></p> 
					</td>
					<td>
						<i class="bi bi-building-fill"></i>   Lorem ipsum dolor sit.
						<br>
						<i class="bi bi-envelope-fill"></i>   Lorem, ipsum dolor.
						<br>
						<i class="bi bi-telephone-fill"></i>   Lorem, ipsum.
					</td>
					<td>dd/mm/yyyy</td>
					<td>dd/mm/yyyy</td>
					<td><span class="badge text-bg-secondary">Chờ duyệt</span></td>
					<td>
						<div class="btn-group" role="group">
							<button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#chitietcapphep"><i class="bi bi-info-circle-fill"></i></button>
							<button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#huycapphep"><i class="bi bi-trash3-fill"></i></button>
						  </div>
					</td>
				  </tr>
				  <tr>
					<th scope="row">8</th>
					<td>
						<p class="fw-bold m-0 p-0">Địa chỉ: <small class="text-muted">227 Nguyễn Văn Cừ, phường 4</small></p> 
						<p class="fw-bold m-0 p-0">Bảng quảng cáo: <small class="text-muted">Trụ/cụm pano 1m2x2m</small></p> 
					</td>
					<td>
						<i class="bi bi-building-fill"></i>   Lorem ipsum dolor sit.
						<br>
						<i class="bi bi-envelope-fill"></i>   Lorem, ipsum dolor.
						<br>
						<i class="bi bi-telephone-fill"></i>   Lorem, ipsum.
					</td>
					<td>dd/mm/yyyy</td>
					<td>dd/mm/yyyy</td>
					<td><span class="badge text-bg-secondary">Chờ duyệt</span></td>
					<td>
						<div class="btn-group" role="group">
							<button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#chitietcapphep"><i class="bi bi-info-circle-fill"></i></button>
							<button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#huycapphep"><i class="bi bi-trash3-fill"></i></button>
						  </div>
					</td>
				  </tr>
				  <tr>
					<th scope="row">9</th>
					<td>
						<p class="fw-bold m-0 p-0">Địa chỉ: <small class="text-muted">227 Nguyễn Văn Cừ, phường 4</small></p> 
						<p class="fw-bold m-0 p-0">Bảng quảng cáo: <small class="text-muted">Trụ/cụm pano 1m2x2m</small></p> 
					</td>
					<td>
						<i class="bi bi-building-fill"></i>   Lorem ipsum dolor sit.
						<br>
						<i class="bi bi-envelope-fill"></i>   Lorem, ipsum dolor.
						<br>
						<i class="bi bi-telephone-fill"></i>   Lorem, ipsum.
					</td>
					<td>dd/mm/yyyy</td>
					<td>dd/mm/yyyy</td>
					<td><span class="badge text-bg-secondary">Chờ duyệt</span></td>
					<td>
						<div class="btn-group" role="group">
							<button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#chitietcapphep"><i class="bi bi-info-circle-fill"></i></button>
							<button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#huycapphep"><i class="bi bi-trash3-fill"></i></button>
						  </div>
					</td>
				  </tr>
				  <tr>
					<th scope="row">10</th>
					<td>
						<p class="fw-bold m-0 p-0">Địa chỉ: <small class="text-muted">227 Nguyễn Văn Cừ, phường 4</small></p> 
						<p class="fw-bold m-0 p-0">Bảng quảng cáo: <small class="text-muted">Trụ/cụm pano 1m2x2m</small></p> 
					</td>
					<td>
						<i class="bi bi-building-fill"></i>   Lorem ipsum dolor sit.
						<br>
						<i class="bi bi-envelope-fill"></i>   Lorem, ipsum dolor.
						<br>
						<i class="bi bi-telephone-fill"></i>   Lorem, ipsum.
					</td>
					<td>dd/mm/yyyy</td>
					<td>dd/mm/yyyy</td>
					<td><span class="badge text-bg-secondary">Chờ duyệt</span></td>
					<td>
						<div class="btn-group" role="group">
							<button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#chitietcapphep"><i class="bi bi-info-circle-fill"></i></button>
							<button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#huycapphep"><i class="bi bi-trash3-fill"></i></button>
						  </div>
					</td>
				  </tr>
				</tbody>
			</table>
		</div>

	
	</div>

  </main>

<!--Modal chi tiết cấp phép-->
<div class="modal fade" id="chitietcapphep" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">Chi tiết cấp phép</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<div class="container-fluid">
				<div class="row">
					<p class="fw-bold m-0">Hình ảnh minh họa</p>
					<div>
						<img src="/img/1.png" class="d-block w-100" alt="...">
					</div>
				</div>
				<div class="row mt-2">
					<p class="fw-bold m-0">Nội dung quảng cáo</p>
					<div>
						<textarea readonly class="form-control" name="" id="" rows="4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt vero tenetur voluptates ab natus sapiente molestiae unde nesciunt quisquam illum!</textarea>
					  </div>
				</div>
			</div>
  		</div>
	  </div>
    </div>
</div>

<!--Modal cách thức xử lý-->
<div class="modal fade" id="huycapphep" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">Hủy cấp phép</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			<p>Bạn chắc chắn muốn hủy cấp phép này chứ? Hành động này không thể hoàn tác.</p>
  		</div>
		<div class="modal-footer mt-2">
			<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy thao tác</button>
			<button type="button" class="btn btn-primary">Xác nhận hủy</button>
 		 </div>
	  </div>
    </div>
</div>
</html>