body{
    font-family: sans-serif!important;
}


nav {
	border-bottom: 0.5px solid grey;
}
.navbar-brand{
    color: black;
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.2px;
    text-decoration: none;
}

nav div a:hover{
    color: black!important;
    /* transition: 0.3s; */
}

.nav-item a{
    color: #424242!important;
    text-decoration: none;
    font-weight: 600!important;
    font-size: 14px!important;
    /* padding-left: 60px!important; */
}

.nav-item a:hover{
    color: #7F56D9!important;
}

.nav-item a.active{
	color: #3563E9!important;
}

.page-title {
	padding-top: 10px;
	font-size: 18px;
	font-weight: bold;
}

.btn-primary {
	background-color: #7F56D9!important;
	border-color: #7F56D9!important;
}

.dropdown-menu {
    box-sizing: border-box;
    width: fit-content;
    padding: 5px;
    /* background-color: a; */
}

.card-text{
	font-weight: bold;
	margin: 0;
}

small.text-muted {
	font-weight: lighter;
}

.card-title {
	text-transform: uppercase;
	font-weight: bolder;
}
