nav {
    padding: 15px;
}
.dropdown-menu > div{
    padding: 2px;
}
.dropdown-menu {
    box-sizing: border-box;
    width: fit-content;
    padding: 5px;
    /* background-color: a; */
}
.input-group {
    width: 20%;
}
.profile
{
    font-size: 3rem !important;
    padding-right: 5px;
}
.btn:not(nav){
    margin: 0 2px;
    align-self: center;
}
.indigo{
    background-color: rgb(147, 55, 212);
}
/* .card-img {
    width: 100%;
    object-fit: cover;
} */
.rounded {
    /* background-color: rgb(0, 0, 0); */
    padding: 7px;

}
.pretty-green {
    color: rgb(0, 122, 26);
    background-color: rgba(106, 255, 148, 0.25);
}
.pretty-red {
    color: rgb(122, 0, 0);
    background-color: rgba(255, 106, 106, 0.25);
}
.data {
    margin: 10px 0;    
}
.container > .row{
    margin: 10px 0;
}
/* .form-popup > .row > div {
    padding: 0 10px;
    margin: 7px;
} */
/* .form-popup > .row > .col> .btn {
    ma: 70px;
    background-color: aquamarine;
} */
.form-popup {
    display: none;
    position: absolute;
    top: 35%;
    left: 25%;
    /* bottom: 50%;
    right: 50%; */
    width: 50%;
}
.popup-icon{
    color: rgb(137, 43, 226);
    background-color: rgba(137, 43, 226, 0.208);
}